[submodule "submodules/--force"]
	path = submodules/--force
	url = https://github.com/marshalys/jquery-handlebars
[submodule "modules/jquery-handlebars"]
	path = modules/jquery-handlebars
	url = https://github.com/marshalys/jquery-handlebars
